footer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer h3 {
  width: 636px;
  height: 52px;
  font-family: "Prompt";
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 60px;
}
footer .icons_block {
  margin-bottom: 120px;
  width: 100%;
  height: 220px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
}
footer .icons_block .icon {
  width: 151.43px;
  height: 60px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #434D56;
}
footer .footer_block {
  width: 100%;
  height: 225px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
footer .footer_block .first {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px !important;
  padding-bottom: 20px;
  border-bottom: 1px solid #5E6B74;
}
footer .footer_block .first p {
  width: 323px;
  height: 32px;
  font-family: "Roboto";
  font-size: 10px;
  line-height: 16px;
  color: #5E6B74;
  border: none;
}
footer .footer_block .first .first_div {
  display: flex;
  align-items: center;
  gap: 54px;
  height: 48px;
}
footer .footer_block .first .first_div p {
  height: auto;
}
footer .footer_block .first .first_div_2 {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 48px;
}
footer .footer_block .first .first_div_2 p {
  font-family: "Roboto";
  height: auto;
}
footer .footer_block .first ul {
  display: flex;
  align-items: center !important;
  gap: 20px;
}
footer .footer_block .first ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  transition: all 0.2s ease;
  cursor: pointer;
}
footer .footer_block .first ul li:hover {
  transform: scale(1.1);
}
footer .footer_block .first ul li a img {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer_block .second {
  width: 100%;
}
footer .footer_block .second p {
  width: 100%;
  height: 80px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  color: #5E6B74;
  border: none;
}

@media screen and (max-width: 767px) {
  footer {
    width: 100%;
  }
  footer h3 {
    width: 360px;
    height: 80px;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 40px;
  }
  footer .icons_block {
    display: flex;
    align-items: center;
    width: 328px;
    height: 60px;
    gap: 16px;
    margin-bottom: 60px;
  }
  .footer_block {
    width: 360px;
    justify-content: center !important;
    align-items: center !important;
    gap: 0 !important;
    margin-bottom: 0;
  }
  .footer_block .first {
    width: 328px !important;
    border: none !important;
    height: auto !important;
    padding: 0 !important;
    align-items: baseline;
  }
  .footer_block .first p {
    border: none;
    width: 200px !important;
    height: auto !important;
    font-size: 10px !important;
    line-height: 16px !important;
  }
  .ul_div {
    width: 328px;
    align-self: flex-start;
    margin-left: 35px;
    margin-bottom: 30px;
  }
  .ul_div ul {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .ul_div ul li {
    width: 48px;
  }
}
p {
  border-top: 1px solid #5E6B74;
  padding-top: 20px;
  margin-bottom: 20px;
  width: 328px;
  font-weight: 400;
  font-family: "Roboto";
  font-size: 10px;
  line-height: 16px;
  color: #5E6B74;
}

/*# sourceMappingURL=footer.module.css.map */
